.registration {
    opacity: 0;
    visibility: hidden; 
    
}
.registration,
.registration-opened {
    transition: all .5s ease 0s; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.registration-opened {
    display: flex;
    align-items: center;
    justify-content: center;
    .registration__wrapper {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
        visibility: visible;
    }
}
