@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
    margin: 0 auto;
}
$rose:#E56A77;  
$violet:#8B71B5;
$aqua:#53ECF4;
body {
    font-size: 12px;
    font-family: 'Roboto';
}