$rose:#E56A77;  
$violet:#8B71B5;
$aqua:#53ECF4;
.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ico-field {
    position: relative;
    margin: 0;
    width: 56px*3+30px;
    height: 56px*3+30px;
    border-radius: 50%;
    border: 3px solid $aqua;
    background-color: $rose;
    background-image: url(../../assets/profile.svg);
    background-position: center;
    background-size: 120px;
    background-repeat: no-repeat;
}
.file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}